*{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.block{
    text-align: center;
}

.block>h3{
    margin-top: 50px;
}

.sub-block{
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.sub-block>p{
    margin: 50px 100px;
}

.item{
    position: relative;
}

.item::before{
    background-size: 50px 50px;
    display: inline-block;
    width: 50px; 
    height: 50px;
    position: absolute;
    top: -10px;
    right: 110%;
    content:"";
}

#sunrise::before{
    background-image: url('img/026-sunrise.png');
}

#sunset::before{
    background-image: url('img/025-sunset.png');
}

#temp::before{
    background-image: url('img/039-thermometer.png');
}

#tempMin::before{
    background-image: url('img/007-lowTemperature.png');
}

#tempMax::before{
    background-image: url('img/008-highTemperature.png');
}

#humidity::before{
    background-image: url('img/004-humidity.png');
}

#pressure::before{
    background-image: url('img/021-atmospheric.png');
}

#speed::before{
    background-image: url('img/040-anemometer.png');
}

#deg::before{
    background-image: url('img/044-weatherVane.png');
}

.temp::after{
    content: ' °C';
}

#humidity::after{
    content: ' %';
}

#pressure::after{
    content: ' pa';
}

#speed::after{
    content: ' km/h';
}

#deg::after{
    content: ' °';
}